.image>img {
    display: block;
    margin: auto;
    padding-top: 5px;
}

.name {
    font-size: 30;
    font-weight: 700;
}

#topic {
    margin-left: 75%;
}

.monitor {
    margin: auto;
}


/* header */

.header {
    width: 100%;
    height: 4.2em;
    display: flex;
    justify-content: space-around;
}

.silogan {
    height: 100%;
    width: 50%;
    font-size: 2.9rem;
    margin-bottom: 0.5rem;
    color: #016d3b;
    display: block;
    text-align: center;
}

.logo {
    width: 16.66%;
    height: 100%;
}

.logo>img {
    margin-left: 3em;
    margin-top: 1em;
}

.form-inline {
    margin: auto;
    width: 33.34%;
    height: 40px;
    display: flex;
    padding-right: 2em;
}

#form-control {
    width: 70%;
    height: 100%;
    border-radius: 5%;
}

.fa-search {
    font-size: 1.6em;
    color: #016d3b;
}


/* Menu */

.menu {
    width: 100%;
    height: 4em;
    background: #016d3b;
    color: #f9faf9;
}

.menu ul li a {
    color: #f9faf9;
    line-height: 2em;
    font-size: 1.4rem;
}

.nav-link {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
    cursor: pointer;
    word-wrap: break-word;
    color: white;
}

.nav-link:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.fa-bars {
    color: #f9faf9;
    margin-top: 0.5em;
}


/* Dropdown */

.btn-group {
    margin-top: 0.8em;
    margin-right: 0.5em;
    padding-left: 115px;
    height: 2.5rem;
    display: block !important;
    background: #016d3b !important;
}

#button-dropdown-item {
    transition: 0.3s;
}

#button-dropdown-item:hover {
    background-color: #016d3b;
    color: #f9faf9 !important;
}

.dropdown-item {
    transition: 0.3s;
}

.dropdown-item:hover {
    background-color: #016d3b !important;
    color: #f9faf9 !important;
}

.btn-secondary {
    height: 2.5rem !important;
    padding: 0 !important;
    width: 4.5rem;
    height: 3rem;
    background: #016d3b !important;
    border: 1px solid #f9faf9 !important;
}

.dropdown-item {
    font-size: 1.5rem;
    transform: translate3d(0px, 0px, 0px) !important;
    color: #016d3b !important;
    width: 14rem !important;
}

.br {
    height: 1px;
    background: #016d3b;
}

.menu-nav {
    display: none;
}


/* Content */

.fa-pen {
    margin-left: 20px;
}

.col-sm-3 {
    display: block !important;
}

.topic {
    margin-left: 5%;
}

.image>img {
    display: block;
    margin: auto;
    padding-top: 5px;
}

.name {
    font-size: 20;
    font-weight: 700;
}

#topic {
    margin-left: 75%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.navbar ul li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.col-md-3 {
    padding-right: 0;
}

#mytextare2 {
    height: 3rem !important;
}

.noidung {
    width: 60%;
    float: right;
}

.btn-outline-danger {
    background: white !important;
    color: #016D3B !important;
    border: 1px solid #016D3B !important;
}

.btn-outline-danger:hover {
    background: #016D3B !important;
    color: white !important;
    border: #016D3B !important;
}


/* Thay đổi màu liên kết khi di chuột qua */

#row-content {
    display: flex;
}

.navbar ul li a:hover {
    background-color: #016D3B;
    font-weight: bold;
    color: white;
}

.navbar ul {
    border: 1px solid #DCDCDC;
}

.navbar ul li {
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
}

.navbar ul li:last-child {
    border-bottom: none;
}


/* Footer */

#footer {
    margin-top: 5rem;
    color: #f9faf9;
    width: 100%;
    height: 12em;
    background: #333;
}

.col-md-4 {
    margin-bottom: 1rem;
    margin-left: 1em;
}

#footer h3 {
    margin-top: 1rem;
}


/* Responsive */


/* Mobile : width < 740px*/

@media only screen and (max-width :46.1875em) {
    /* Header */
    .header {
        background: #016d3b;
    }
    .logo {
        width: 25%;
    }
    .logo>img {
        width: 45%;
        margin-left: 1em;
        margin-top: 1em;
    }
    .silogan {
        width: 0;
        visibility: hidden;
    }
    .form-inline {
        width: 65%;
        display: flex;
        padding: 0;
        margin-bottom: 1.2rem;
    }
    #form-control {
        width: 70% !important;
        height: 90% !important;
        padding: 0;
    }
    .btn-outline-success {
        color: #f9faf9 !important;
        border-color: #f9faf9 !important;
        height: 90% !important;
        width: 30% !important;
    }
    .fa-search {
        font-size: 1.2em;
        color: #f9faf9;
    }
    /* Menu */
    .menu {
        height: 2.5em;
    }
    .nav-link {
        line-height: 0.5em !important;
        font-size: 0.2rem !important;
    }
    .nav-item {
        visibility: hidden;
    }
    /* Dropdown */
    .btn-group {
        padding-left: 0;
        margin-top: 0;
    }
    .btn-secondary {
        width: 3.5rem;
    }
    .menu-nav {
        display: block;
    }
    .menu-nav~.dropdown-item {
        font-size: 1.4rem;
    }
    .br {
        height: 1px;
        background: #016d3b;
    }
    /* Login */
    .form-control {
        width: 90% !important;
    }
    /* Content */
    /* Footer */
    .logo-footer {
        width: 0;
        visibility: hidden;
    }
    .footer {
        display: none;
    }
    #footer h3 {
        font-size: 1rem;
    }
    .col-md-3 {
        display: none;
    }
    .footer-contact {
        font-size: 01.em;
    }
}

#topic {
    margin-left: 65%;
}


/* Tablet : width > 740px and < 1024px */

@media only screen and (min-width :46.1875em) and (max-width: 63.9375em) {
    .silogan {
        visibility: hidden;
        width: 43.34‬;
    }
    .form-inline {
        width: 40%;
        padding-right: 1em;
        display: flex;
        padding-right: 0;
    }
    #form-control {
        width: 60%;
    }
    .menu {
        height: 3.2em;
        line-height: 2em;
    }
    .menu ul li a {
        font-size: 1rem;
    }
    .btn-group {
        padding-left: 35px;
        margin-top: 0.3em;
    }
    .btn-secondary {
        width: 3rem;
    }
    .menu-nav {
        display: none;
    }
    #footer {
        height: 14em;
    }
}


/* Laptop : 1040px*/

@media only screen and (min-width :64em) and (max-width: 89em) {
    .silogan {
        height: 100%;
        width: 50%;
        font-size: 2rem;
        margin-top: 0.25em;
    }
    .menu {
        line-height: 2em;
    }
    .menu ul li a {
        line-height: 2em;
        font-size: 1.5rem;
    }
    .menu-nav {
        display: none;
    }
    .btn-group {
        padding-left: 50px;
    }
}